
*{  margin: 0%;
    padding: 0%;
}


body{
      background-image: none;
      background-size: cover ;
      background-position: center;
      box-sizing: border-box;
      font-family: Georgia, 'Times New Roman', Times, serif;
}
 
.navbar{
    
}
p{
    font-family: 'Dancing Script', cursive;
    font-family: Georgia, 'Times New Roman', Times, serif;
}




.fa-facebook {
    background: #3B5998;
    color: white;
 }







